*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.avatar-s{
    width: 45px;
    height: 45px;
}
.icon-s{
    width: 28px;
    height: 28px;
    margin-left: 5px;
    cursor: pointer;
}
.card-inf{
    margin-bottom: 15px;
}
.card-dato{
    width: 100%;
    margin: 0 auto;
}
.card-dato > p{
    font-weight: 600;
}
.fechas{
    color: gray;
}
.card-header{    
    background-color: #434343;
    height: 45px;
    color: #fff;
    display: flex;
    align-items: center;
}
.card-body{
    border: 3px solid #434343;
    font-size: 18px;
}
.inf-header{
    display: flex;
}
.inf-body{
    display: flex;
    flex-direction: column;
    border: 3px solid #434343;
    border-top: none;
    font-size: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
}
span{
    margin-left: 6px;
    padding: 6px;
    background-color: ghostwhite;
    color: #000;
    border-radius: 50%;
}
.view-more{
    border-top: 3px solid #434343;
    padding-left: 5px;
}
.link{
    color: blue;
    text-decoration: underline;
}
main{
    width: 44%;
}
aside{
    width: 21%;
}

aside, 
article{
    margin: 15px;
}

body {
    font-family: "Roboto", sans-serif;
}
.nav {
    display: flex;
    background-color: #434343;
    justify-content: space-evenly;
    align-items: center;
}
.cont-nav{
    display: flex;
    align-items: center;
}
#nav-title {
    color: #fff;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 15px;
}
.nav-links {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
.active {
    color: #cacaca;
}
.btn {
    padding: 8px;
    font-size: 24px;
    background-color: #727fff;
    border: none;
    border-radius: 15px;
    color: #fff;
    box-shadow: 2px 1px 8px 2px white;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}
.card{
    min-width: 100%;
    font-size: 22px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.headerCard{
    background-color: cornflowerblue;
    height: 140px;
    padding-bottom: 18px;
}
.avatar{
    position: absolute;
    margin-top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    border: 4px solid #000;
}
.bodyCard{
    border: 3px solid #434343;
    border-top: none;
}
.icon{
    width: 25px;
    height: 25px;
}
h1{
    padding-top: 30px;
    margin-left: 15px;
}
p>a{
    color: blue;
}

h3,
p{
    margin: 5px 15px;
}